/* Ensure the body and html elements take up the full height and allow scrolling */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.alumni-form-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Ensures content starts at the top */
    min-height: 100vh; /* Takes the full viewport height */
    width: 100vw;
    padding: 20px;
    background: linear-gradient(to bottom, #ffffff, #dfe9f3);
    box-sizing: border-box;
}

.alumni-form-container {
    margin-top: 80px; /* Adjust as needed for header space */
    max-width: 1000px;
    width: 90%; /* Makes it responsive */
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}


.back-button {
    position: absolute; /* Position the link absolutely */
    top: 80px; /* Distance from the top */
    right: 20px; /* Distance from the right */
    padding: 10px 20px; /* Increased padding for better visibility */
    background-color: #cc0000; /* Button background */
    color: white; /* Button text color */
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px; /* Slightly larger font size */
    font-weight: bold; /* Make the text bold */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: background-color 0.3s ease;
    z-index: 90; 
}

.back-button:hover {
    font-weight: bold;
    background-color: white;
    color: #cc0000;
}



.alumni-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.alumni-form select {
    margin: 10px 0;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: white;
    font-size: 14px;
    -webkit-appearance: none; /* Remove default arrow in Chrome */
    -moz-appearance: none; /* Remove default arrow in Firefox */
    appearance: none; /* Remove default arrow in other browsers */
}

.alumni-form label {
    text-align: left;
    width: 100%;
    padding: 12px;
}

.alumni-form input {
    margin: 10px 0;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: white;
    font-size: 14px;
}

.submit-button {
    margin-top: 20px;
    padding: 12px 20px;
    cursor: pointer;
    background-color: #cc0000;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

.submit-button:hover {
    background-color: white;
    color: #cc0000;
}

.success-message {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
