/* Ensure the body and html elements take up the full height and allow scrolling */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.alumni-form-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #ffffff, #dfe9f3);
    padding: 20px;
    padding-top: 850px; /* Added padding to create space from the header */
    box-sizing: border-box; /* Ensure padding is included in height calculations */
    overflow-y: auto; /* Allow vertical scrolling */
    width: 100vw;
}

.back-button {
    margin-top: 20px;
    
    padding: 10px 20px;
    cursor: pointer;
    background-color: #cc0000;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

.back-button:hover {
    background-color: white;
    color: #cc0000;
}

.alumni-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Ensure padding is included in width calculations */
    margin-bottom: 20px;
    overflow-y: auto; /* Allow vertical scrolling within the form container */
}

.alumni-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.alumni-form input {
    margin: 10px 0;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: white;
    font-size: 14px;
}

.submit-button {
    margin-top: 20px;
    padding: 12px 20px;
    cursor: pointer;
    background-color: #cc0000;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

.submit-button:hover {
    background-color: white;
    color: #cc0000;
}

.success-message {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
