.events-page-container {
    margin-top: 20px;
}

.input-field {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

.events-button {
    padding: 10px 20px;
    background-color: #cc0000;
    border-color: black;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

.events-navigation {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center;
    gap: 20px; /* Add space between the buttons */
    }

.events-button:hover {
    font-weight: bold;
    background-color: white;
    color: #cc0000;
}

.events-table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 10px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    
}

.events-table th,
.events-table td {
    padding: 8px;
    border: 1px solid #020202;
}

.events-table th {
    background-color: #cc0000;
    font-weight: bold;
}

.back-to-dashboard-event {
    position: absolute;
    top: 80px;
    right: 20px;
    padding: 10px 20px;
    background-color: #cc0000;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    z-index: 90;
}

.back-to-dashboard-event:hover {
    background-color: #6a0202;
}

.search-container {
margin-bottom: 20px;
}

.add-event-container {
    padding: 10px 0;
}


/* .search-container {
    position: fixed; /* Changed to fixed for better visibility */
    /* top: 140px; */
    /* left: 30px; */
    /* display: flex; */
    /* align-items: center; */
    /* padding: 10px; Added padding */
    /* z-index: 1000; Ensured it stays on top */
    /* } */




