.header {
	background-color: red; /* Adjust the color to match your theme */
	color: white;
	display: flex;
	/* justify-content: flex-end; */
	justify-content: space-between;
	padding: 10px 20px;
	position: fixed; /* Make the header stick to the top of the page */
	top: 0;
	left: 0;
	width: 100%; /* Ensure it spans the full width */
	z-index: 100; /* Ensure it lays on top of other content */
}

.btn {
	margin-left: 10px;
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
}

.sign-in {
	background-color: transparent;
	color: white;
}

.sign-up {
	background-color: #4caf50;
	color: white;
}
