.scrollable-table {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f4f4f4;
    width: 100vw;
    overflow: hidden;
    padding-top: 15%; /* Adjust this value if necessary to prevent content from going under the header */
}

.table-wrapper {
    width: 100%;
    /* max-width: 1200px; */
    overflow-y: auto;
    overflow-x: auto;
    margin-top: 20px;
    max-height: 60vh; /* Adjust based on your preference */
    /* border: 1px solid #ccc; */
    display: flex;
    justify-content: center;
}

.table-text-small {
    width: auto;
    border-collapse: collapse;
    font-size: 0.875rem;
    color: black;
    margin: 0 auto; /* Center the table */
}

.table-text-small thead th {
    background-color: #cc0000;
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1; /* Ensure it stays above the table rows */
}

.back-buttons-container {
    display: flex;
    gap: 10px; /* Adds space between the buttons */
    justify-content: flex-end; /* Aligns buttons to the right */
    position: fixed; /* Fixes the buttons to stay in place even when scrolling */
    top: 20px; /* Distance from the top */
    right: 20px; /* Distance from the right */
    z-index: 100; /* Ensures it stays on top of other elements */
    padding: 50px 5px;
}

.back-to-dashboard-student {
    padding: 10px 20px;
    background-color: #cc0000; /* Button background */
    color: white; /* Button text color */
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px; /* Slightly larger font size */
    font-weight: bold; /* Makes the text bold */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: background-color 0.3s ease;
}

.back-to-dashboard-student:hover {
    background-color: white;
    color: #cc0000; /* Inverts colors on hover */
}

.table-text-small tbody tr:hover {
    background-color: lightgrey;
}

.student-heading {
	margin-bottom: 10px;
}

.thead-dark th {
    top: 0;
    background-color: #cc0000;
    position: sticky;
    color: #ffffff;
}

.content-container {
    width: 100vw;
    /* max-width: 1200px; */
    margin: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.table-text-small th,
.table-text-small td {
    vertical-align: top;
    padding: 0.75rem;
    border: 1px solid black;
    box-sizing: border-box;
}

.dropdown-container {
    display: flex;
    justify-content: center; /* Centers children horizontally in the container */
    align-items: center;
    width: 100%; /* Ensure it takes full width */
    margin-bottom: 20px;
}

.dropdown-container .Multiselect {
    width: 90%;
    max-width: 1000px;
}

.search-input, .multiselect__input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    background-color: white;
}

.multiselect__input {
    font-size: 20px;
    min-height: 50px;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table .table-text-small {
    font-size: 0.9rem;
}

.students-button {
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    display: block;
    background-color: #cc0000;
    border-color: black;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

.students-button:hover {
    font-weight: bold;
    background-color: white;
    color: #cc0000;
}

.view-students-button {
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #cc0000;
    border-color: black;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

.view-students-button:hover {
    font-weight: bold;
    background-color: white;
    color: #cc0000;
}


.student-button {
    padding: 10px 20px;
    border: unset;
    border-radius: 15px;
    color: #fff;
    z-index: 1;
    background: #cc0000;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    padding-left: 10px;
   }
   
   .student-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: white;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .student-button:hover {
    background-color: white;
    color:#cc0000;
   }
   
   .student-button:hover::before {
    width: 100%;
   }

.search-input {
    width: 90%;
    max-width: 1000px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    background-color: white;
    margin-bottom: 20px;
}

.datepicker-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    gap: 10px;
    flex-wrap: wrap;
    width: 100%; /* Ensure it takes full width */
    margin-bottom: 20px;
}

/* DatePicker input styling */
.datepicker-container .react-datepicker-wrapper,
.datepicker-container .react-datepicker__input-container {
    width: auto;
}

.datepicker-container .react-datepicker__input-container input {
    width: 150px;
    height: 30px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    background-color: white;
}

/* Style for the buttons */
.datepicker-container button {
    height: 30px;
    padding: 0px 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #cc0000;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Ensure buttons are not affected by DatePicker */
}

.datepicker-container button:hover {
    background-color: white;
    color: #cc0000;
}

.react-datepicker__navigation--next {
    background-color: #00a7cc; /* Change to your desired color */
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for the previous navigation button */
.react-datepicker__navigation--previous {
    background-color: #cc0000; /* Change to your desired color */
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Additional hover effect for the buttons */
.react-datepicker__navigation--next:hover,
.react-datepicker__navigation--previous:hover {
    background-color: #a30000; /* Darker shade on hover */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}